<div ng-controller="forecastController">
    <h3 style="margin: 10px 5px 30px 5px">Forecast for {{ city }}</h3>
    <a href="#">Back to search</a>
    <hr />
    Entries :
            <a href="#!/forecast/10" ng-class="{'breadcrumb-item active': entries == 10}">10</a> |
            <a href="#!/forecast/20" ng-class="{'breadcrumb-item active': entries == 20}">20</a> |
            <a href='#!/forecast/30' ng-class="{'breadcrumb-item active': entries == 30}">30</a>
    <hr />
    <div ng-if="weatherResult">
        <div style="display: flex; flex-wrap: wrap">
            <div ng-repeat="w in weatherResult.list">
                <weather-report day="getDay(w.dt)"
                                temp="getTemp(w.main.temp)"
                                date-format="MM/dd/yyyy 'at' h:mma"></weather-report>
            </div>
        </div>
    </div>
</div>

<!-- day="w.dt*1000" temp="(w.main.temp - 273.15).toFixed()" -->